<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>

<div class="container fluid">

      <%= @jobs.each do |job| %>
          <div class="card text-center">
          <div class="card-header">Job Available at <%= job.location%> </div>
          <div class="card-body">
                 <h5 class="card-title"> D<%= job.payment %> </h5>
                <p class="card-text"> <%= job.description %> </p>
                <%= link_to 'View', jobs_show_path, class: 'btn btn-primary'  %>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jobModal" > Modal View </button>
          </div>
          <div class="card-footer text-muted">
              By <%= job.user.fullname%> <%= time_ago_in_words(job.created_at) %>  ago.
          </div>

              <!-- Modal -->
          <div class="modal fade" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p> <%=job.description%> </p>
                  <p> <%=job.duration%> </p>
                  <p> <%=job.starting%> </p>
                  <p> <%=job.needed%> </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success">Interested</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


        <% end %>

          </div>


        
</div>


