<p id="notice"><%= notice %></p>

<h1>Nanny Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Payment</th>
      <th>Duration</th>
      <th>Starting</th>
      <th>Needed</th>
      <th>Description</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nanny_jobs.each do |nanny_job| %>
      <tr>
        <td><%= nanny_job.payment %></td>
        <td><%= nanny_job.duration %></td>
        <td><%= nanny_job.starting %></td>
        <td><%= nanny_job.needed %></td>
        <td><%= nanny_job.description %></td>
        <td><%= nanny_job.location %></td>
        <td><%= link_to 'Show', nanny_job %></td>
        <td><%= link_to 'Edit', edit_nanny_job_path(nanny_job) %></td>
        <td><%= link_to 'Destroy', nanny_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nanny Job', new_nanny_job_path %>
