<p id="notice"><%= notice %></p>

<p>
  <strong>Payment:</strong>
  <%= @nanny_job.payment %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @nanny_job.duration %>
</p>

<p>
  <strong>Starting:</strong>
  <%= @nanny_job.starting %>
</p>

<p>
  <strong>Needed:</strong>
  <%= @nanny_job.needed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @nanny_job.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @nanny_job.location %>
</p>

<%= link_to 'Edit', edit_nanny_job_path(@nanny_job) %> |
<%= link_to 'Back', nanny_jobs_path %>
